In [35]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
import numpy as np
data = pd.read_excel("./ELB-Sales-Data(Elbrit Sales Log).xlsx")
data.head()

,Sr,ID,Customer,Primary Sales,Cancelled,Is added to primary log,Against Expiry,Breakage,Claim Offer,Quantity,...,Free Item,HQ,Sales Team,Return for Reason,Sales Return,Sales Invoice Name,Rate Difference,Item Name,Free Item Value,Date
0,9354,SL-10-24-268441,SESHABALAJEE MEDISOLUTIONS PVT LTD,135.08,1,1,135.08,0.0,0.0,-4,...,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,TELBRIT 20,0.0,2024-09-23
1,9355,SL-10-24-268440,SESHABALAJEE MEDISOLUTIONS PVT LTD,413.80,1,1,413.80,0.0,0.0,-4,...,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,DAFAX M 5,0.0,2024-09-23
2,9356,SL-10-24-268439,SESHABALAJEE MEDISOLUTIONS PVT LTD,210.38,1,1,210.38,0.0,0.0,-2,...,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,TELBRIT AM,0.0,2024-09-23
3,9357,SL-10-24-268438,SESHABALAJEE MEDISOLUTIONS PVT LTD,105.19,1,1,105.19,0.0,0.0,-1,...,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,TELBRIT H,0.0,2024-09-23
4,9358,SL-10-24-268437,SESHABALAJEE MEDISOLUTIONS PVT LTD,978.30,1,1,978.30,0.0,0.0,-9,...,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,TRIGLIMIBRIT 1.3,0.0,2024-09-23

1. What was the highest-selling product in September?

In [12]:
import pandas as pd
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)  
september_data = data[data['Date'].dt.month == 9]
highest_selling_product = september_data.groupby('Item Name')['Primary Sales'].sum().idxmax()
print("The highest selling product in September is:", highest_selling_product)

The highest selling product in September is: NEURONZ D

2. Which product had the highest sales for the "CND Chennai" sales team in May?

In [17]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True) 
may_data = data[(data['Date'].dt.month == 5) & (data['Sales Team'] == 'CND Chennai')]
highest_sales_may_cnd = may_data.groupby('Item Name')['Primary Sales'].sum().idxmax()
print("The highest selling item in May for CND Chennai is:", highest_sales_may_cnd)

The highest selling item in May for CND Chennai is: NEURONZ D

3. Which customer had the maximum stock returns in October for the Bangalore HQ?

In [20]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)  
october_data = data[(data['Date'].dt.month == 10) & (data['Sales Team'] == 'HQ Bangalore')]
if october_data.empty:
    print("No data found for October and HQ Bangalore sales team.")
else:
    customer_with_max_returns = october_data.groupby('Customer')['Sales Return'].sum().idxmax()
    print("The customer with the maximum sales returns in October for HQ Bangalore is:", customer_with_max_returns)

No data found for October and HQ Bangalore sales team.

4. Which sales team had the maximum percentage of primary sales returned due to
expiry?

In [21]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)
expiry_returns_data = data[data['Return for Reason'] == 'Expired']
total_sales_by_team = data.groupby('Sales Team')['Primary Sales'].sum()
expiry_sales_by_team = expiry_returns_data.groupby('Sales Team')['Primary Sales'].sum()
sales_percentage_expiry = (expiry_sales_by_team / total_sales_by_team) * 100
sales_team_with_max_expiry = sales_percentage_expiry.idxmax()
print(f"The sales team with the maximum percentage of primary sales returned due to expiry is: {sales_team_with_max_expiry}")

The sales team with the maximum percentage of primary sales returned due to expiry is: Elbrit Delhi

5. What percentage of overall primary sales was affected by breakage?

In [23]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)
data_cleaned = data[data['Primary Sales'] >= 0]
breakage_returns_data = data_cleaned[data_cleaned['Return for Reason'] == 'Breakage']
total_primary_sales = data_cleaned['Primary Sales'].sum()
breakage_sales = breakage_returns_data['Primary Sales'].sum()
breakage_percentage = (breakage_sales / total_primary_sales) * 100
print(f"The percentage of overall primary sales affected by breakage is: {breakage_percentage}%")

The percentage of overall primary sales affected by breakage is: 0.00821106539233097%

6. What were the primary sales for the Delhi HQ in the month of September?

In [27]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)
delhi_hq_teams = ['HQ North Delhi', 'HQ South Delhi', 'HQ East Delhi', 'HQ West Delhi']
september_data = data[(data['Date'].dt.month == 9) & (data['Sales Team'].isin(delhi_hq_teams))]
primary_sales_september_delhi = september_data['Primary Sales'].sum()
print("The primary sales for Delhi HQ in September were:", primary_sales_september_delhi)

The primary sales for Delhi HQ in September were: 0.0

7. What were the sales of "Britorva 20" in September for PALEPU PHARMA DIST PVT LTD
under Coimbatore HQ?

In [32]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)
september_data = data[(data['Date'].dt.month == 9) & 
                       (data['Sales Team'] == 'HQ-Combitre') & 
                       (data['Customer'] == 'PALEPU PHARMA DISTRIBUTORS PVT LTD KANCH') & 
                       (data['Item Name'] == 'BRITORVA 20')]
sales_britorva_20_september = september_data['Primary Sales'].sum()
print(f"The total sales of 'Britorva 20' in September for PALEPU PHARMA DIST PVT LTD under Coimbatore HQ is: {sales_britorva_20_september}")

The total sales of 'Britorva 20' in September for PALEPU PHARMA DIST PVT LTD under Coimbatore HQ is: 0.0

Bonus

1. What is the forecasted value of primary sales for the October month?

In [41]:
monthly_sales = train_data.resample('ME')['Primary Sales'].sum()
moving_average = monthly_sales.rolling(window=3).mean().iloc[-1]  
print(f"Forecasted Primary Sales for October (using moving average): {moving_average}")

Forecasted Primary Sales for October (using moving average): 44249858.583333336

2. Which product had the highest forecasted sales for the "CND Chennai" sales team in
November?

In [43]:
chennai_sales = data[data['Sales Team'] == 'CND Chennai']
chennai_sales_november = chennai_sales[chennai_sales.index.month == 11]

if chennai_sales_november.empty:
    print("No sales data for CND Chennai in November.")
else:
    monthly_sales_by_product = chennai_sales_november.groupby('Item Name')['Primary Sales'].sum()

    if monthly_sales_by_product.empty:
        print("No sales data for products in November for CND Chennai.")
    else:
        forecasted_sales = monthly_sales_by_product.rolling(window=3).mean()

        if forecasted_sales.isna().all():
            print("Forecasted sales contain NaN values.")
        else:
            highest_forecasted_sales_product = forecasted_sales.idxmax()
            highest_forecasted_sales_value = forecasted_sales.max()

            print(f"Product with the highest forecasted sales for 'CND Chennai' in November: {highest_forecasted_sales_product}")
            print(f"Forecasted sales for this product: {highest_forecasted_sales_value}")

No sales data for CND Chennai in November.

3. What were the forecasted sales of "Britorva 20" in October under Coimbatore HQ?

In [44]:
coimbatore_sales = data[data['HQ'] == 'HQ-Coimbatore']
coimbatore_sales_october = coimbatore_sales[coimbatore_sales.index.month == 10]

if coimbatore_sales_october.empty:
    print("No sales data for Coimbatore HQ in October.")
else:
    monthly_sales_by_product = coimbatore_sales_october.groupby('Item Name')['Primary Sales'].sum()
    
    if 'Britorva 20' in monthly_sales_by_product.index:
        britorva_sales = monthly_sales_by_product['BRITORVA 20']
        forecasted_sales = britorva_sales.rolling(window=3).mean()

        if forecasted_sales.isna().all():
            print("Forecasted sales contain NaN values.")
        else:
            print(f"Forecasted sales for 'Britorva 20' in October under Coimbatore HQ: {forecasted_sales.iloc[-1]}")
    else:
        print("No sales data for 'Britorva 20' in October under Coimbatore HQ.")

No sales data for Coimbatore HQ in October.